<div class="banner">
    <div class="banner-top">
        <h2 class="banner-logo"><img src="img/sosz.png" alt="SOSZ 23"></h2>
    </div><!-- / banner-top -->

    <div class="banner-hashtag">
        <span>@cachirulovalley</span>
        <span>#sosz22 en Twitter</span>
    </div><!-- / banner-top -->

    <p class="banner-date">25 de Marzo de 2023</p>

    <!-- 
      <div class="banner-buttons">
          <a class="button" href="#">Entradas agotadas</a>
      </div>
    -->
    <!-- / banner-buttons -->

</div><!-- / banner -->
