<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{site.title}} &middot; {{site.tagline}}</title>
  <meta name="description" content="{{site.description}}/">
  <meta name="theme-color" content="#2CC7C1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{site.url}}/img/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/img/apple-touch-icon-114x114.png">
  <link rel="stylesheet" href="{{site.url}}/css/styles.css">
</head>
